
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <%= form_for [@saloon] do |f| %>
                    <div class="form-group  row"><%= f.label :name, "Name", class:"col-sm-2 col-form-label" %>
                        <div class="col-sm-10"><%= f.text_field :name, required: true, placeholder: "Name...", class:"form-control" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><%= f.label :address, "Address", class:"col-sm-2 col-form-label" %>
                        <div class="col-sm-10"><%= f.text_field :address, required: true, placeholder: "Address...",class:"form-control" %><br />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row"><%= f.label :city, "City", class:"col-sm-2 col-form-label" %>

                        <div class="col-sm-10"><%= f.text_field :city, required: true, placeholder: "City...", class:"form-control" %></div>
                    </div>
                    <div class="form-group row"><%= f.label :country_code, "Country code", class:"col-sm-2 col-form-label" %>
                    <div class="col-sm-10"><%= f.select :country_code, ['+221', '+212'], class:"form-control"%></div>
                    </div>
                    <div class="form-group row"><%= f.label :phone, "Phone", class:"col-sm-2 col-form-label" %>

                        <div class="col-sm-10"><%= f.number_field :phone, required: true, placeholder: "Phone...", class:"form-control" %></div>
                    </div>
                    <div class="form-group row"><%= f.label :longitude, "Longitude" ,class:"col-sm-2 col-form-label" %>

                        <div class="col-sm-10"><%= f.number_field :longitude, required: true, placeholder: "Longitude...", class:"form-control" %></div>
                    </div>
                    <div class="form-group row"><%= f.label :latitude, "Latitude", class:"col-sm-2 col-form-label" %>

                        <div class="col-sm-10"><%= f.number_field :latitude, required: true, placeholder: "Latitude..." ,class:"form-control" %></div>
                    </div>

                    <div class="form-group row">
                        <%= f.submit "Update Saloon", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

</script>

<% end %>


