<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Salon detail</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Salon detail</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInUp">
<div class="row">
    <div class="col-lg-9">

        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <%= link_to "Edit", edit_saloon_path(@salon), class: "btn btn-white btn-sm fa fa-pencil" %>

                            <h2>Contract with <%= @salon.name %></h2>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Status:</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><span class="label label-primary">Active</span></dd>
                            </div>
                        </dl>

                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Company:</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><a href="#" class="text-navy"><%= @salon.name %></a></dd>
                            </div>
                        </dl>
                    </div>
                    <div class="col-lg-6" id="cluster_info">
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Last Updated:</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><%= @salon.updated_at%></dd>
                            </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Created:</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><%= @salon.created_at%></dd>
                            </div>
                        </dl>
                    </div>
                    <div class="col-lg-6" id="cluster_info">
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Longitude</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><%= @salon.longitude%></dd>
                            </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>Latitude</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><%= @salon.latitude%></dd>
                            </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right">
                                <dt>City</dt>
                            </div>
                            <div class="col-sm-8 text-sm-left">
                                <dd class="mb-1"><%= @salon.city%></dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <dl class="row mb-0">
                            <div class="col-sm-2 text-sm-right">
                                <dt>Completed:</dt>
                            </div>
                            <div class="col-sm-10 text-sm-left">
                                <dd>
                                    <div class="progress m-b-1">
                                        <div style="width: 100%;" class="progress-bar progress-bar-striped progress-bar-animated"></div>
                                    </div>
                                    <small>Salon completed<strong>100%</strong>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>   
            </div>
        </div>
    </div>

    <div class="row m-t-sm">
                    <div class="col-lg-12">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Current Plan</a></li>
                                        <li><a class="nav-link" href="#tab-2" data-toggle="tab">Select Plan</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="feed-activity-list">
                                            <div class="feed-element">
                                                <h2>
                                                  <b><%= @subscription_plan.name << ' plan' %></b>
                                                </h2>

                                                <div class="media-body ">
                                                    <strong>Features</strong><br/><br/>
                                                    <% features = @subscription_plan.subscription_plan_features %>
                                                    <% features.each do |feature| %>
                                                      <p><%= feature.name %></p>
                                                    <% end %>
                                                    <div class="well">
                                                    </div>
                                                </div>
                                            </div>
                                                                                       
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab-2">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Create project in webapp
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>                                            
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

</div>
</div>
