<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li class="breadcrumb-item">
                App Views
            </li>
            <li class="breadcrumb-item active">
                <strong>Contacts</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-title">
                <div class="ibox-tools">
                    <%= link_to "Add new Contact", new_client_path, class: 'btn btn-primary btn-xs'  %>
                </div>
            </div>
<div class="row">
  <% @clients.each do |client| %>
    <div class="col-lg-4">
        <div class="contact-box">
                <div class="col-8">
                    <h3><strong><%= client.name %></strong></h3>
                    <td class="project-actions">
                      <%= link_to "Edit", edit_client_path(client), class: "btn btn-white btn-sm fa fa-pencil" %>
                    </td>
                    <br><br>
                    <p>Salon : <%= link_to client.saloon.name, saloon_path(client.saloon) %> </p>
                    <address>
                        Phone: <strong><%=client.country_code << '-' << client.phone %></strong><br/>
                        <p  class="fa fa-map-marker"><%= client.address %></p>
                        Country: <%=client.country %>
                    </address>
                </div>
            </a>
        </div>
    </div>
  <% end %>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>
